*{
    margin: 0;padding: 0;
}

body{
    background-color: #548273;
    text-align: center;

}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
height: 18vmin;
width: 18vmin;
border-radius: 10%;
border: none;
color: white solid ;

cursor: pointer;
font-size: 8vmin;
color: #b0413e;

}

.reset{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191943;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;

}
#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191943;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#msg{
color: greenyellow ;
font-size: 4rem;
}
.msg-container{
    padding: 10px;
    margin-bottom: 20px;
}

.hidden{
    display: none;
}